:host::ng-deep {
  .carousel-register {
    .p-carousel-content {
      .p-carousel-container {
        .p-carousel-prev,
        .p-carousel-next {
          display: none;
        }
      }

      .p-carousel-indicators {
        li {
          button {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #ffffff;
            border: none;
            outline: none;
          }
          &.p-highlight {
            button {
              width: 30px;
              border-radius: 20px;
              background: #08539a;
            }
          }
        }
      }
    }
  }
}

.register-wrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 420px 1fr;

  .mobile-header {
    display: none;
  }

  .register-carousel {
    height: 100%;
    background: transparent
      url("../../../../../assets/images/register-mask.png") 0% 0% no-repeat
      padding-box;
    background-size: cover;
    background-color: #0796e5;
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 60px;

    h2 {
      font-size: 24px;
      font-weight: 600;
      margin: 0;
      color: #ffffff;
      text-align: center;
    }

    .carousel-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      img {
        width: 80%;
      }

      h3 {
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
      }

      p {
        font-size: 12px;
        font-weight: 300;
        color: #ffffff;
        text-align: center;
      }
    }
  }

  .register-plan {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    background: #ffffff;

    .mobile-heading {
      display: none;
    }

    .logo {
      width: 100px;
      object-fit: fill;
    }

    .success-step-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .success-step {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 30px;

        .success-step-item {
          list-style: none;
          display: flex;
          align-items: center;
          gap: 10px;
          position: relative;

          &.pad-left-2 {
            padding-left: 5rem;
          }
          &.pad-left-3 {
            padding-left: 10rem;
          }

          &:nth-child(2) {
            &::before {
              content: "";
              display: inline-block;
              width: 40px;
              height: 40px;
              border-bottom-style: dashed;
              border-left-style: dashed;
              border-color: #2b427c;
              position: absolute;
              left: 30px;
              top: -20px;
            }
          }

          &:nth-child(3) {
            &::before {
              content: "";
              display: inline-block;
              width: 40px;
              height: 40px;
              border-bottom-style: dashed;
              border-left-style: dashed;
              border-color: #2b427c;
              position: absolute;
              left: 108px;
              top: -20px;
            }
          }

          img {
            width: 4rem;
          }

          .caption {
            display: flex;
            flex-direction: column;
            gap: 4px;
            width: 240px;

            .title {
              font-size: 16px;
              font-weight: 700;
              color: #12204d;
            }

            .description {
              font-size: 14px;
              font-weight: 400;
              color: #6e7da5;
            }
          }
        }
      }

      .button-register {
        height: 34px;
        border-radius: 4px;
      }
    }

    .copyright {
      font-size: 12px;
      font-weight: 400;
      color: #000037;
    }
  }
}

@media only screen and (max-width: 900px) {
  .register-wrapper {
    grid-template-columns: 1fr;

    .mobile-header {
      display: block;
      width: 100%;
      height: 80px;
      background: #ffffff 0% 0% no-repeat padding-box;
      opacity: 1;
      position: fixed;
      display: flex;
      align-items: center;
      z-index: 10;

      img {
        width: 100px;
        margin-left: 20px;
      }
    }

    .register-carousel {
      display: none;
    }

    .register-plan {
      padding: 100px 20px 20px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: transparent
        url("../../../../../assets/images/register-mask.png") 0% 0% no-repeat
        padding-box;
      background-size: cover;
      background-color: #0796e5;
      gap: 20px;

      .logo {
        display: none;
      }

      .mobile-heading {
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px 0 10px 0;
        h2 {
          font-size: 26px;
          font-weight: 700;
          color: #ffffff;
        }
      }

      .success-step-wrapper {
        background: #ffffff 0% 0% no-repeat padding-box;
        border-radius: 8px;
        opacity: 1;
        padding: 20px;

        .success-step {
          gap: 50px;
          .success-step-item {
            flex-direction: column;

            .caption {
              text-align: center;
            }

            &.pad-left-2 {
              padding-left: 0;
            }
            &.pad-left-3 {
              padding-left: 0;
            }

            &:nth-child(2), &:nth-child(3) {
              &::before {
                display: inline-block;
                width: 0;
                height: 30px;
                border-bottom-style: dashed;
                border-left-style: dashed;
                border-color: #2b427c;
                border-width: 2px;
                position: absolute;
                left: 0;
                right: 0;
                top: -40px;
                margin: auto;
              }
            }
          }
        }
      }

      .copyright {
        text-align: center;
        color: #ffffff;
        margin: 0;
        padding: 30px 0;
      }
    }
  }
}
