<div class="grid">
  <div class="col-12">
    <div class="grid">
      <div class="col-12 md:col-8 flex-order-1 md:flex-order-0">
        <p-card styleClass="card-summary">
          <ng-template pTemplate="header">
            <div class="flex align-items-center justify-content-between">
              <h6 class="title">Summary</h6>
              <div class="flex align-items-center gap-3">
                <span class="text-period">Periode</span>
                <p-calendar
                  [(ngModel)]="date"
                  view="month"
                  dateFormat="MM yy"
                  [readonlyInput]="true"
                  styleClass="calendar-custom"
                ></p-calendar>
              </div>
            </div>
            <p-divider styleClass="my-3"></p-divider>
          </ng-template>
          <div class="grid">
            <div class="col-6 md:col-4">
              <p-card styleClass="card-summary-item">
                <p class="title">Working Day(s)</p>
                <p class="count">2 Hari</p>
              </p-card>
            </div>
            <div class="col-6 md:col-4">
              <p-card styleClass="card-summary-item">
                <p class="title">Working Hour(s)</p>
                <p class="count">13 hr 14 min</p>
              </p-card>
            </div>
            <div class="col-6 md:col-4">
              <p-card styleClass="card-summary-item">
                <p class="title">Exc. Attendance</p>
                <p class="count">0 Hari</p>
              </p-card>
            </div>
            <div class="col-6 md:col-4">
              <p-card styleClass="card-summary-item">
                <p class="title">Leave Taken</p>
                <p class="count">0 Hari</p>
              </p-card>
            </div>
            <div class="col-6 md:col-4">
              <p-card styleClass="card-summary-item">
                <p class="title">Overtime</p>
                <p class="count">00 hr 00 min</p>
              </p-card>
            </div>
            <div class="col-6 md:col-4">
              <p-card styleClass="card-summary-item">
                <p class="title">Claim</p>
                <p class="count">IDR 0</p>
              </p-card>
            </div>
          </div>
        </p-card>
      </div>
      <div class="col-12 md:col-4 flex-order-0 md:flex-order-1">
        <p-card styleClass="card-profile">
          <ng-template pTemplate="header">
            <img
              src="assets/images/img-banner-profile.png"
              alt="Banner Profile"
            />
          </ng-template>
          <div class="profile-title">
            <div class="profile-pict">
              <img src="assets/images/pp.png" alt="Profile Pict" />
            </div>
            <p class="fullname">John Doe</p>
            <div class="company">
              <img src="assets/images/ic-company.png" alt="Icon" />
              <span>Google Indonesia</span>
            </div>
          </div>
          <p-divider styleClass="p-0"></p-divider>
          <table class="profile-info">
            <tr>
              <td>Employee ID</td>
              <td>PT - GOO34</td>
            </tr>
            <tr>
              <td>Position</td>
              <td>Senior Front-End Developer</td>
            </tr>
            <tr>
              <td>Join Date</td>
              <td>23 Feb 2018</td>
            </tr>
            <tr>
              <td>Years of Service</td>
              <td>4 Years 5 Months 2 Days</td>
            </tr>
          </table>
        </p-card>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="grid">
      <div class="col-12 md:col-8 flex-order-1 md:flex-order-0">
        <p-card styleClass="card-task">
          <ng-template pTemplate="header">
            <div class="flex align-items-center justify-content-between">
              <h6 class="title">Task Due Soon</h6>
              <a href="#" class="see-all">
                <span>See All</span>
                <img src="assets/images/ic-see-all.svg" alt="Icon" />
              </a>
            </div>
            <p-divider styleClass="my-3"></p-divider>
          </ng-template>
          <div class="grid">
            <div class="col-12">
              <p-card styleClass="card-task-item">
                <div class="task-info">
                  <p class="title">UI/UX Designer</p>
                  <p class="count">[Wms][Web][Task] Create Goals Design</p>
                </div>
                <div class="task-detail">
                  <a href="#" class="attach">
                    <img src="assets/images/ic-attach.svg" alt="Icon" />
                    <span>44</span>
                  </a>
                  <a href="#" class="comment">
                    <img src="assets/images/ic-comment.svg" alt="Icon" />
                    <span>1</span>
                  </a>

                  <p-divider
                    layout="vertical"
                    styleClass="py-2 m-0"
                  ></p-divider>

                  <div class="badge badge-success">Medium</div>

                  <a href="#" class="duedate">
                    <img src="assets/images/ic-duedate.svg" alt="Icon" />
                    <span>06 Aug 2021</span>
                  </a>
                </div>
              </p-card>
            </div>
            <div class="col-12">
              <p-card styleClass="card-task-item">
                <div class="task-info">
                  <p class="title">UI/UX Designer</p>
                  <p class="count">[Wms][Chat] Improve Design</p>
                </div>
                <div class="task-detail">
                  <a href="#" class="attach">
                    <img src="assets/images/ic-attach.svg" alt="Icon" />
                    <span>44</span>
                  </a>
                  <a href="#" class="comment">
                    <img src="assets/images/ic-comment.svg" alt="Icon" />
                    <span>1</span>
                  </a>

                  <p-divider
                    layout="vertical"
                    styleClass="py-2 m-0"
                  ></p-divider>

                  <div class="badge badge-success">Medium</div>

                  <a href="#" class="duedate">
                    <img src="assets/images/ic-duedate.svg" alt="Icon" />
                    <span>06 Aug 2021</span>
                  </a>
                </div>
              </p-card>
            </div>
            <div class="col-12">
              <p-card styleClass="card-task-item">
                <div class="task-info">
                  <p class="title">UI/UX Designer</p>
                  <p class="count">[Wms][Task] Improve Dashboard</p>
                </div>
                <div class="task-detail">
                  <a href="#" class="attach">
                    <img src="assets/images/ic-attach.svg" alt="Icon" />
                    <span>44</span>
                  </a>
                  <a href="#" class="comment">
                    <img src="assets/images/ic-comment.svg" alt="Icon" />
                    <span>1</span>
                  </a>

                  <p-divider
                    layout="vertical"
                    styleClass="py-2 m-0"
                  ></p-divider>

                  <div class="badge badge-success">Medium</div>

                  <a href="#" class="duedate">
                    <img src="assets/images/ic-duedate.svg" alt="Icon" />
                    <span>06 Aug 2021</span>
                  </a>
                </div>
              </p-card>
            </div>
          </div>
        </p-card>
      </div>
      <div class="col-12 md:col-4 flex-order-0 md:flex-order-1">
        <p-card styleClass="card-attendance">
          <ng-template pTemplate="header">
            <div class="flex align-items-center justify-content-between">
              <h6 class="title">Today's Attendance</h6>
            </div>
            <p-divider styleClass="my-3"></p-divider>
          </ng-template>
          <div class="grid">
            <div class="col-6">
              <p-card styleClass="card-attendance-item">
                <ng-template pTemplate="header">
                  <div class="border-top border-top-success"></div>
                </ng-template>
                <p class="title">Clock In</p>
                <p class="count">07:07</p>
              </p-card>
            </div>
            <div class="col-6">
              <p-card styleClass="card-attendance-item">
                <ng-template pTemplate="header">
                  <div class="border-top border-top-danger"></div>
                </ng-template>
                <p class="title">Clock Out</p>
                <p class="count">18:00</p>
              </p-card>
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>
